[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A suite of tools to assist with reviewing Open Source Software dependencies.
[access "refs/*"]
	owner = group user/Sebastian Schuberth (sschuberth)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sebastian Schuberth (sschuberth)
	label-Verified = -1..+1 group user/Sebastian Schuberth (sschuberth)
	push = group user/Sebastian Schuberth (sschuberth)
	read = group user/Sebastian Schuberth (sschuberth)
	rebase = group user/Sebastian Schuberth (sschuberth)
	removeReviewer = group user/Sebastian Schuberth (sschuberth)
	submit = group user/Sebastian Schuberth (sschuberth)
[access "refs/heads/*"]
	create = group user/Sebastian Schuberth (sschuberth)
	push = +force group user/Sebastian Schuberth (sschuberth)
	pushMerge = group user/Sebastian Schuberth (sschuberth)
	read = group user/Sebastian Schuberth (sschuberth)
[access "refs/tags/*"]
	push = group user/Sebastian Schuberth (sschuberth)
	push = +force group user/Sebastian Schuberth (sschuberth)
